<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575444833989-14cdtgoeqroje4on93d6dqu234s64mem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575444833989-14cdtgoeqroje4on93d6dqu234s64mem</string>
	<key>API_KEY</key>
	<string>AIzaSyCX051W2rd0YMG6j-hntnNB1m_6NXC9zuo</string>
	<key>GCM_SENDER_ID</key>
	<string>575444833989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deityarena.beta</string>
	<key>PROJECT_ID</key>
	<string>unreal-4</string>
	<key>STORAGE_BUCKET</key>
	<string>unreal-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575444833989:ios:3fce7f28372b201a0802ac</string>
</dict>
</plist>